// Clear Styles
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

html {
    font-family: "Rubik", sans-serif;
}
section {
    margin-bottom: 120px;
}
h1 {
    margin: 0;
}
select {
    -webkit-appearance: none;
}
h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #212b36;
    margin-bottom: 60px;
}
a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
input {
    outline: none;
    border: none;
    background: none;
}
.scroll-off {
    overflow: hidden;
}
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
.entry-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #161d25;
    margin-bottom: 30px;
}
.content-page {
    max-width: 1163px;
    margin: auto;
    margin-top: 100px;
}
@media screen and (max-width: 1200px) {
    section,
    .breads,
    .content-page {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 60px;
    }
    h2 {
        margin-bottom: 30px;
    }
    .content-page {
        margin-top: 180px;
    }
}
.swiper-wrapper {
    z-index: 0 !important;
}
@media screen and (max-width: 680px) {
    h2 {
        font-size: 35px;
        line-height: 32px;
    }
}
@import "./ui-kit";
