// Product Card
.p-card {
    background: #ffffff;
    box-shadow: 0px 0px 7px 3px rgba(145, 158, 171, 0.19);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding: 67px 15px 15px 15px;
    .compare.button,
    .add_to_wishlist_button,
    .view_wishlist_button,
    #nc_wishlist_added,
    .fami-wccp-button {
        display: none !important;
    }
    &__btn-favorite,
    &__btn-compare {
        border-radius: 100px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: background-color 0.3s ease;
        box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.06);
        svg,
        path,
        rect {
            transition: all 0.3s ease;
        }
    }

    &__btn-favorite {
        &:hover {
            path {
                fill: #de3618;
            }
        }
        &.active,
        &:active {
            background-color: #de3618 !important;
            path {
                fill: #fff !important;
            }
        }
    }

    &__btn-compare {
        top: 50px;
        &:hover {
            background-color: #fff;
            rect {
                fill: #50b83c;
            }
        }
        &.active {
            background-color: #50b83c !important;
            rect {
                fill: #fff !important;
            }
        }
    }

    &:hover &__btn-compare {
        background-color: #fff;
        rect {
            fill: #50b83c;
        }
    }

    &:hover &__btn-favorite {
        background-color: #fff;
        path {
            fill: #de3618;
        }
    }

    &__pic {
        width: 100%;
        height: 130px;
        display: block;
        margin: auto;
    }

    &__pic-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__info {
        margin-top: 50px;
        display: flex;
        align-items: center;
    }

    &__info-rating {
        display: flex;
        align-items: center;
    }

    &__info-rating-value {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.155556px;
        color: #161d25;
        margin-left: 6px;
    }

    &__info-status {
        position: relative;
        background: #dfe3e8;
        border-radius: 1px;
        width: 60px;
        height: 9px;
        margin-left: 0;
        &-text {
            background: #dfe3e8;
            border-radius: 2px;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.155556px;
            color: #919eab;
            padding: 4px 7px;
            text-align: center;
            display: block;
            position: absolute;
            bottom: calc(100% + 10px);
            width: 100%;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease;
            svg {
                position: absolute;
                top: calc(100% - 5px);
                left: calc(50% - 7.5px);
            }
        }
        &:hover &-text {
            opacity: 1;
        }
    }

    &__info-status-tooltip {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    &__info-status-line {
        height: 100%;
        display: block;
    }

    &__title {
        margin-top: 12px;
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.2px;
        color: #161d25;
        height: 38px;
        overflow-y: hidden;
    }

    &__price {
        display: block;
        margin-top: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    &__more,
    &__buy {
        background-color: #f5f5f5;
        border-radius: 8px;
        position: absolute;
        bottom: 15px;
        right: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        transition: background-color 0.3s ease;
        svg,
        path,
        circle {
            transition: fill 0.3s ease;
        }
    }

    &__buy {
        right: 15px;
        background-color: #454f5b;
        &:hover {
            background-color: #50b83c;
        }
        & + .added_to_cart {
            display: none;
        }
    }

    &__more {
        &:hover {
            background-color: #dfe3e8;
        }
        &:active {
            background-color: #454f5b;
            circle {
                fill: #ffffff;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .p-card {
        &__pic {
            width: 90%;
            height: 300px;
        }
    }
}
